.accordion {
  margin: 20px 0;
}

.button {
  width: 150px;
  border-radius: 8px;

}

.line {
  background-color: #b3b1b1;
  height: 1px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 30px 0;
}