body.home-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Instrument Sans';
  overflow-y: auto;
}

.home-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: visible; // importante para múltiplos carrosséis
}

.hero {
  width: clamp(20rem, 100%, 50rem);
  padding: 2rem 1rem 0 1rem;
  justify-self: center;

  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .hero-subtitle {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
}

.categorias-container {
  justify-content: center;
  justify-self: center;
  width: clamp(20rem, 100%, 48rem);

  .categorias {
    width: 100%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;
    border-bottom: 1px solid RGB(0, 0, 0, 0.3);

    .categoria-btn {
      width: 25%;
      background: none;
      border: none;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      color: RGB(0, 0, 0, 0.6);

      &.ativa {
        font-weight: bold;
        color: #e53935;
        border-bottom-color: #e53935;
      }

      &:hover {
        color: #d32f2f;
      }
    }
  }
}

.patrocinadores-container {
  max-width: 100%;
  justify-self: center;

  h1 {
    padding-left: 1rem;
  }
}

.search-bar-container {
  padding: 0 1rem;
  max-width: 400px;
}