.container {
  border: 1px solid RGB(0, 0, 0, 0.2);
  padding: 0 1rem 1rem 1rem;
  justify-self: center;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.storeData {
  padding: 1rem;
  align-items: center;
}

.storeImg {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}