.sponsorPhoto {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  max-width: 300px;
  object-fit: fill;
}

.sponsorPhotoLink{
  width: 100%;
  height: 160px;
  border-radius: 8px;
  max-width: 300px;
  object-fit: contain;
}